
*

/*basis opmaak*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://exchange.nottingham.ac.uk/content/uploads/Information-security-video-WIDEBANNER.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

.header {
  padding: 3px;
  background-color:lightgrey ;
  text-align: center;
  font-size: 30px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

   /*column opmaakt*/

.column {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  text-align: center;
}

.column h2 {
 font-size:24px;
}

    /*topnav*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(62, 109, 126);
  color: #f2f2f2;
}

.topnav a.active {
  background-color: rgb(49, 102, 121);
  color: #f2f2f2;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .col-30, .col-70, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*tabel*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  background-color: rgb(62, 109, 126);
}

/*contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

input[type=submit] {
  background-color: rgb(49, 102, 121);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgb(62, 109, 126);
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
}

.col-31 {
  float: left;
  width: 31%;
  margin-top: 6px;
}

.col-69 {
  float: left;
  width: 69%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

